body{
    font-family: 'Raleway', sans-serif;;
    background-color:white
    
}

h1,h3{
    text-align: center;
    margin-top: 30px;
}

img{
    margin-left: 45%;
    margin-top: 20px;
}
  
.container ul,ol{
    margin-left: 25%

}



.card{
   background-color: azure;
    width: 33%;
    height: 400px;
    text-align: center;
}


.card img{
    width: 50%;
    height: 400px;
    margin-left: 25%;
   margin-top: 10%;
}